---
const personalImageAlt = "Yordis Monteserin";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I’m Yordis Monteserin. I’ve always been into design, which led me to
      teach myself graphic design back in the day. I’ve also got a thing for
      math —there’s just something about <strong
        >mixing logic with creativity</strong
      > that really speaks to me. That’s probably why I fell in love with web development:
      it lets me flex my creative muscles on the <em class="italic">Frontend</em
      > and dig into logical problem-solving on the <em class="italic"
        >Backend</em
      >.
    </p>
    <p>
      I spent 8 years teaching programming at the university, which also taught
      me a lot about explaining complex stuff in a way that clicks. My degree
      thesis was about AI algorithms that learn how to summarize texts
      —basically, teaching computers to do the heavy reading for us. <strong
        >Now if only I could teach them to make coffee too...</strong
      >
    </p>
    <p>
      Since then, I’ve been involved in various projects, <strong
        >including a collaboration on an online IDE</strong
      > -it’s amazing what you can build with code and a little bit of stubbornness.
      Right now, it’s on pause, which is code for: “We’re taking a break to recharge
      the caffeine supply and convince it that taking over the world is a good idea...
      or at least, replacing VS Code.”
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me2.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
