---
import ExperienceItem from "./ExperienceItem.astro";
import LinkButton from "./LinkButton.astro";
const EXPERIENCE = [
  {
    date: "Currently...",
    title: "Full Stack Developer",
    company: "Molanco",
    description:
      "Development and maintenance of several websites [cerrajeria-chapultepec.com.mx, molanco.com, thesessionsf.com, florentrega.com, ffm.mx, and more].",
    technologies: "Drupal 7, Bootstrap.",
    link: "https://www.molanco.com",
  },
  {
    date: "November 2023 - January 2024",
    title: "Frontend Developer",
    company: "Molanco - Onxite Project",
    description:
      "Application for tracking events, capable of measuring event outcome metrics.",
    technologies: "Nextjs, TailwindCSS, Hexagonal Arquitecture.",
  },
  {
    date: "February 2020 - August 2020",
    title: "Full Stack Developer",
    company: "Tika Data",
    description:
      "Data annotation platform supporting text, image and video formats for various applications in Computer Vision, Natural Languaje Processing.",
    technologies: "React.js, Django, Node.js, PostgreSQL, Docker.",
    link: "https://www.tika-data.com/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
<div class="ml-10">
  <LinkButton
    href="https://drive.google.com/file/d/1GEebNrePqtqSw-bHFn6qhSoZt3s0sX7t/view?usp=sharing"
  >
    Download resume
  </LinkButton>
</div>
