---
import ExperienceItem from "./ExperienceItem.astro";
import LinkButton from "./LinkButton.astro";
const EXPERIENCE = [
  {
    date: "Currently...",
    title: "Full Stack Developer",
    company: "Molanco",
    description:
      "Development of websites such as cerrajeria-chapultepec.com.mx, molanco.com, thesessionsf.com, florentrega.com, ffm.mx, and more. Platforms and Technologies: Drupal 7, PHP, Django, Python, Mysql, Git, Github",
    link: "https://www.molanco.com",
  },
  {
    date: "January 2022 - August 2022",
    title: "Frontend Developer",
    company: "Molanco - Onxite Project",
    description:
      "Application for tracking events, capable of measuring event outcome metrics. Platforms and technologies: Nextjs, JavaScript, Hexagonal Arquitecture.",
  },
  {
    date: "June 2021 - November 2021",
    title: "Backend Developer",
    company: "Avaya and Sonus",
    description:
      "CDC. Data manager. Platform to migrate data. Platforms and Technologies: Debezium, Kafka, PySpark, Java, Python",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

<div class="mt-3 ml-10">
  <LinkButton href="/public/Yordis_Monteserin_CV.pdf">
    Download resume
  </LinkButton>
</div>
