---
const personalImageAlt = "Yordis Monteserin";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/yordis.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/yordis-monteserin-9078522b1"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Yordis
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    I’m all about finding that sweet spot where <strong
      >creativity and logic</strong
    > meet. The best solutions are a blend of those two, and that’s exactly where
    I like to work.

    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:yordis.monte@gmail.com">
        <MailIcon class="size-4" />
        Contact
      </SocialPill>
      <SocialPill
        href="https://www.linkedin.com/in/yordis-monteserin-9078522b1"
      >
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </p>
</div>
